.container_product_work{

    display: grid;
    grid-template-columns: repeat(3,400px);

    grid-template-rows: 400px 400px 400px;
    grid-gap:30px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1115px){
    
    .container_product_work{
        grid-template-columns: repeat(2,400px);
        grid-template-rows: 600px 600px;
        grid-gap:80px;
    }
}
@media (max-width: 905px){
    
    .container_product_work{
        grid-template-columns: repeat(2,400px);
        grid-template-rows: 400px 400px;
        grid-gap:40px;
    }
    
}
@media (max-width: 800px){

.container_product_work{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}